<div class="row">
    <div class="col-lg-12 col-xl-8"> <!--Paramater comparison aka the chart box-->
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Parameter Comparison</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content vh-80">


            </div>
        </div>
    </div>

    <div class="col-lg-12 col-xl-4"> <!--Right hand section for selecting and adjusting params -->
        <div class="col-md-12 col-lg-6 col-xl-12"> <!-- Add/remove parameters -->
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Variable Groups</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-12">
                            <select class="form-control" size="3">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-12"> <!-- Select and Adjust Parameters -->
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Select/Adjust Parameters</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">


                </div>
            </div>
        </div>
    </div>
</div>